








.bouton:hover{
background-color: #0065FC;
}
a{
    text-decoration:none;
}
a:hover{
   text-decoration: overline;
   color:#0065FC 
}
ul{
    list-style-type: none;
}
#menu{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.element:nth-child(1){
    justify-self:flex-start;
    align-self:stretch;
}
.element:nth-child(2){
    justify-self: flex-end;
}

ul{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: flex-start;
}


