@media all and (min-width:768px) and (max-width:1020px){ 
body{
    font-family:"Raleway";
}     
h1{
        font-size: 25px;
        font-weight:bold;
    }
h2{
        font-size:22px;
        font-weight:bold;
        white-space: nowrap;
    }
h2#Activites{
    visibility:hidden;
}
h4{
    font-size:15px;
    font-weight:bold;
}    
    .bouton:hover{
       background-color: #0065FC;
    }
a{
       text-decoration:none;
       color:black;
    }
    #filtres{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        align-content:space-between;
        align-items:stretch;
        font-size:15px;
        margin: 5% 5% 5% 5%;
    }
    h4.desk{
       display:none;
    }
    .mobile{
        display:none;
    }
    #filtres i{
        color:#0065FC;
        border-radius: 50px;
        background-color: #DEEBFF;
        height:50px;
        width:50px;
        display:flex;
        flex-direction:row;
        align-content:space-between;
        justify-content:space-around;
        align-items:center;
        position:absolute;
        object-fit:cover;
    }
    #menu a:hover{
       border-top:2px solid #0065FC;
       color:#0065FC;
    }
    .element0:nth-child(1){
        justify-self:flex-start;
        align-self:stretch;
        margin-top: 5%;
    }
    .element0:nth-child(2){
        color: #0065FC;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: stretch;
        align-content: stretch;
        font-size: 14px;
    }
    .inscription{
        color:#0065FC;
        font-weight:bolder;
        position:absolute;
        margin-top:-3%;
        margin-left:85%;
    }
    .info i{
        color:#0065FC;
        border:1px solid #F2F2F2;
        border-radius:50px 50px 50px 50px;
        padding:8px 12px 8px 12px;
        margin-bottom:2%;
    }
    p.info{
        display:flex;
        flex-direction:row;
        align-items:baseline;
        align-content:center;
        font-size:13px;
        margin-bottom:-2%;
        font-size:14px;
    }
    .bouton{
        background-color: white;
        border:2px solid #F2F2F2;
        border-radius: 50px;
        font-size:13px;
        font-weight:600;
        padding-left:60px;
        width:100%;
        height:50px;
    }
    .formulaire{
        display:flex;
        max-height:50px;
    }
    #pc{
        display:none;
    }
    .localisation{
        display:flex;
    }
    .logoloc{
        max-width:20px;
        background-color:#F2F2F2;
        padding:4% 4% 4% 5%;
        border-radius:15px 0px 0px 15px;
    }
    #Recherche{
        font-size: 13px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        margin-bottom:5%;
        height:auto;
    }
    .recherche{
        border:2px solid #F2F2F2;
        font-size: 12px;
        font-weight:bold;
        width:100%;
        padding-left:2%;
    }
    ::placeholder{
        color:black;
    }
    input#bouton{
        display:none;
    }
    #bouton2{
        background-color: #0065FC;
        background-repeat:no-repeat;
        border-radius:0px 15px 15px 0px;
        border:none;
        font-size: 0px;
    }
    #loupe{
        margin-left:-10%;
        margin-top:7%;
        color:white;
    }
    #menu a:hover{
        border-top:none;
     }
    .nav{
        display:flex;
        width:120%;
        justify-content: center;
        margin-top:5%;
        padding-bottom:3%;
        font-size:16px;
        border-bottom: 5px solid #F2F2F2;
    }
   
    .nav:hover{
        border-bottom: 5px solid #0065FC;
        color:#0065FC;
    }
    .row{
        display:flex;
    }
    article#conteneur2{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }
    .element{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        flex-wrap: nowrap;
        box-sizing:content-box;
        margin-top:5%;
        box-shadow:5px 5px 5px 5px #F2F2F2;
    }
    .pluspc{
        display:contents;
        position:absolute;
    }

    #conteneur1{
        display:flex;
        flex-direction: column-reverse;
        align-items:center;
        flex-wrap:wrap;
        justify-content: space-between;
        position:relative;
        width:auto;
    }
    .stars{
        display:flex;
        flex-direction: row;
        color:#0065FC;
        font-size:12px;
    }
    #Hebergements{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    article#conteneur3{
        display:flex;
        width:auto;
        flex-direction:column;
        border-radius:15px 15px 15px 15px;
        justify-content: space-evenly;
        align-items:flex-start;
        align-content:center;
        margin-bottom:5%;
        background-color:#F2F2F2;
    }
    #pop{
        max-width:20%;
    }
    #pop1{
        max-width:20%;
    }
    #pop2{
        max-width:20%;
    }
    article#conteneur2{
        border:2px solid white;
        width:100%;
        display:flex;
        flex:1 1 auto;
        flex-direction:row;
        align-content:center;
        margin-top:5%;
        border:2px solid white;
        justify-content:space-evenly;
        background-color: #F2F2F2;
        border-radius: 15px 15px 15px 15px;
    }
    div#line1{
        display:flex;
        flex:auto;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        align-content:center;
    }
    div#line2{
        display:flex;
        flex:auto;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        align-content:center;
    }
    figure.element{
        border-radius:15px 15px 15px 15px;
        min-width:150px;
        width:max-content;
        flex:auto;
    }
    figcaption{
        max-height:50%;
        background-color:white;
        display:flex;
        border-radius:15px 15px 15px 15px;
        flex-direction:column;
        align-items:flex-start;
        align-content:space-around;
    }
    figcaption.s2{
        width:max-content;
    }
    figcaption.fig3{
        width:200px;
        background-color:white;
        font-weight:bold;
        font-size:16px;
        white-space:nowrap;
        padding:5%;
    }
    #conteneur4 figure{
        border-radius:15px 15px 15px 15px;
    }
    .back{
        max-width:250px;
        min-width:250px;
        height:120px;
        object-fit:cover;
        border:5px solid white;
        border-radius:15px 15px 0px 0px;
    }
    .back2{
        width:200px;
        height:150px;
        border:5px solid white;
        border-radius:15px 0px 0px 15px;
        object-fit:cover;
    }
    .back3{
        width:312px;
        height:200px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back4{
        width:312px;
        height:200px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back5{
        width:312px;
        height:400px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back6{
        width:312px;
        height:200px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    h3{
        font-size:12px;
        font-weight:bold;
    }
    .logochart{
        display:none;
    }
    .logochart1{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
        align-content:space-between;
        height:25px;
        margin-bottom:3%;
        margin-top:5%;
        white-space:nowrap;
    }
    .logochart1 img{
        height:25px;
        width:20px;
        margin-left:50px;
    }
    figure.element1{
         width:450px;
         display:flex;
         align-items:center;
         background-color:white;
         flex:auto;
         border-radius:15px 15px 15px 15px;
    }
    ul.heb{
        display:flex;
        flex-wrap:nowrap;
        flex:auto;
        flex-direction:column;
        justify-content:flex-start;
        align-content:space-evenly;
        align-items:flex-start;
        margin-left:-10%;
    }
    ul.heb1{
        font-size:12px;
        white-space:nowrap;
        display:flex;
        flex-wrap:nowrap;
        flex-direction:column;
        justify-content:flex-start;
        align-content:space-evenly;
        align-items:flex-start;
        margin-left:-10%;
    }
  
    li.nom{
        font-weight:bold;
        font-size:15px;
    }
    .nom h3{
        font-size:12px;
    }
    .nom p{
        font-size:10px;
        margin-top:-3%;
    }
    .nom i{
        margin-top:10%;
    }
    .titresection{
        display:none;
    }
    h2.titresection1{
     display:contents;
     position:absolute;
     margin-left:5%;

    }
 
    #Activites{
        display:flex;
        flex-wrap:wrap;
        flex:auto;
        margin-top:5%;
    }
    #conteneur4{
        height:auto;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        align-content:center;
        width:auto;
    }
    figure.vieuxport{
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        display:inline-block;
        object-fit:cover;
    }
    figure.fortpomegues{
        width:fit-content;
        display:inline-block;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        object-fit:cover;
    }
    figure.ilesfrioul{
        width:fit-content;
        display:inline-block;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        object-fit:cover;
    }
    figure.parccalanques{
        width:fit-content;
        display:inline-block;
        padding:0px 0px 0px 0px;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        object-fit:cover;
    }
    figure.notredame{
        width:fit-content;
        display:inline-block;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        object-fit:cover;
    }
    figure.longchamp{
        width:fit-content;
        display:inline-block;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        object-fit:cover;
    }
    .colonne1{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .colonne2{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    #bouton2{     
        background-color:#0065FC;
        border-radius: 0px 15px 15px 0px;
        padding:20px 20px 20px 20px;
    }
    #bouton{
        display:none;
    }
    #footer{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
        align-content: center;
        margin-top:5%;
        background-color:#F2F2F2;
    }
    .footer{
        display:flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-items:baseline;
        justify-content: space-evenly;
    }
    ul{
        list-style-type:none;
    }
    .heb1 li{
        display:flex;
        margin-top:8%;
    }
    li{
       font-size:15px;
    }
    li.stars{
        font-size:12px;
    }
    li.stars1{
        margin-top:20%;
        color:#0065FC;
        font-size:12px;
    }
    .apropos{
        display:flex;
        align-content:center;
    }

.cliquable{
    width:max-content;
    height:100%;
}
.none{
    display:none;
}
p{
    font-size:15px;
}
.grey{
    color:#F2F2F2;
}
}

