@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Medium.ttf") format("truetype");
}
 body{
        font-family: "Raleway";
        width:768px;
        margin:auto;
    }
h1{
        font-size: 1.5em;
        font-weight:bold;
    }
h2{
        font-size:1.6em;
        font-weight:bold;
        white-space: nowrap;
    }
h4{
    font-size:1.1em;
    font-weight:bold;
}    
    .bouton:hover{
       background-color: #0065FC;
    }
a{
       text-decoration:none;
       color:black;
    }
    #filtres{
        height:auto;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;
        font-size:1em;
        position:absolute;
    }
    .mobile{
        display:none;
    }
    h4.desk{
        display:none;
    }
    #filtres i{
        height:20px;
        border:2px solid #F2F2F2;
        border-radius: 40px 40px 40px 40px;
        background-color: #DEEBFF;
        padding:20px 20px 15px 20px;
        display:flex;
        position:absolute;
        height:20px;
        color:#0065FC;
    }
    #menu a:hover{
       border-top:2px solid #0065FC;
       color:#0065FC;
    }
    .element0:nth-child(1){
        justify-self:flex-start;
        align-self:stretch;
        margin-top: 5%;
    }
    .element0:nth-child(2){
        color: #0065FC;
        width:100%;
        font-size: bold;
        display:flex;
        flex-direction: row;
        justify-content:stretch;
        align-items: stretch;
        align-content: stretch;
        font-size: 1.2em;
    }
    .inscription{
        color:#0065FC;
        font-size:1.2em;
        font-weight:bold;
        position:absolute;
        margin-left:85%;
        margin-top:-4%;
    }
    .info i{
        color:#0065FC;
        border:1px solid #F2F2F2;
        border-radius:50px 50px 50px 50px;
        padding:8px 12px 8px 12px;
        margin-bottom:2%;
    }
    p.info{
        display:flex;
        flex-direction:row;
        justify-content:baseline;
        align-items:baseline;
        align-content:center;
        font-size:1.2em;
        margin-left:-0.5%;
        margin-bottom:-2%;
        margin-top:-5%;
        font-size:0.8em;
    }
    .bouton{
        background-color: white;
        border:2px solid #F2F2F2;
        border-radius: 40px 40px 40px 40px;
        font-size:1.2em;
        font-weight:600;
        padding: 20px 20px 20px 20px;
        padding-left:60px;
        width:100%;
    }
    .formulaire{
        display:flex;
        max-height:50px;
    }
    .pc{
        display:none;
    }
    .localisation{
        display:flex;
    }
    .logoloc{
        max-width:30px;
        height:25px;
        background-color:#F2F2F2;
        padding:4% 4% 3% 4%;
        border-radius:15px 0px 0px 15px;
    }
    #Recherche{
        font-weight: 500px;
        font-size: 1.2em;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        max-width:90%;
        height:auto;
    }
    #recherche{
        border:2px solid #F2F2F2;
        font-size: 1.2em;
        font-weight: medium;
        width:100%;
    }
    ::placeholder{
        color:black;
    }
    #bouton{
        background-color: #0065FC;
        border-radius:0px 15px 15px 0px;
        color:white;
        border:none;
        width:auto;
        font-size: 1.5em;
    }
    #menu a:hover{
        border-top:none;
     }
    .nav{
        display:flex;
        width:120%;
        justify-content: center;
        margin-top:5%;
        padding-bottom:3%;
        font-size:1.4em;
        border-bottom: 5px solid #F2F2F2;
    }
   
    .nav:hover{
        border-bottom: 5px solid #0065FC;
        color:#0065FC;
    }
    .row{
        display:flex;
    }
    .conteneur2{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }
    .element{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border:5px solid white;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        flex-wrap: nowrap;
        box-sizing:content-box;
        width:335px;
        height:200px;
        margin-top:5%;
        box-shadow:5px 5px 5px 5px #F2F2F2;
    }
    .pluspc{
        display:contents;
        position:absolute;
    }

    #conteneur1{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        position:relative;
        width:auto;
    }
    div.heb{
        background-color: white;
        flex-direction: column;
        align-content: flex-end;
        text-align: justify;
        box-sizing:content-box;
        height:80px;
        width:100%;
        border-radius: 0px 0px 15px 15px;
        margin-top:32%;
        padding-bottom:5%;
    }
    .stars{
        display:flex;
        flex-direction: row;
        color:#0065FC;
    }
    .element:nth-child(2){
        background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
        background-size:100%;
        background-position:0% 200%;
        background-repeat: no-repeat;
    }
    .element:nth-child(3){
        background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        background-position:0% 260%;
     
    }
    .element:nth-child(4){
        background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:0% 260%;
        
    }
    .element:nth-child(5){
        background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:0% 100%;
        
    }
    .element:nth-child(6){
        background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
        background-size:cover;
        background-position:0% 300%;
        background-repeat: no-repeat;
    }
    .element:nth-child(7){
        background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
        background-size: 100%;
        background-position:0% 70%;
        background-repeat: no-repeat;

    }
    .conteneur3{
        display:flex;
        width:100%;
        padding-bottom:25px;
        margin-bottom:5%;
        flex-direction: row;
        align-content:flex-end;
        justify-content:space-evenly;
        align-items:flex-end;
        background-color:#F2F2F2;
        margin-top:-3%;
        border-radius:15px 15px 15px 15px;
    }
    h3{
        font-size:1em;
        font-weight:bold;
    }
    .logochart{
        display:none;
    }
    .logochart1{
        height:25px;
        width:25%;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:baseline;
        padding-bottom:7%;
        margin-left:2%;
    }
    .logochart1 img{
        height:15px;
        width:15px;
    }
    .element1{
        width:200px;
        height:100px;
        border:5px solid white;
        border-radius:15px 15px 15px 15px;
        background-color: white;
        overflow: hidden;
        margin-top:5%;
    }
    .element1:nth-child(1){
        display:none;
    }
    .element1:nth-child(2){
        background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        display:flex;
        background-size:cover;
        background-position:200% 50%;
        background-clip:content-box;
        flex-direction: column;
        align-items: flex-end;
    }
    .element1:nth-child(3){
        background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction: column;
        background-clip:content-box;
        justify-content: flex-end;
    }
    .element1:nth-child(4){
        background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction: column;
        background-clip:content-box;
        justify-content: flex-end;
    }
    .nom{
        display:flex;
        height:auto;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-evenly;
        margin-left:35%;
        background-color: white;
        padding-left:5%;
    }
    .nom h3{
        font-size:1em;
    }
    .nom p{
        font-size:0.8em;
        margin-top:-3%;
    }
    .nom i{
        margin-top:10%;
    }
    .titresection{
        display:none;
    }
    h2.titresection1{
     display:contents;
     position:absolute;
     margin-left:5%;

    }
    #conteneur3{
        margin-top:60px;
    }
 
    #Activites{
        display:flex;
        margin-top:5%;
        margin-right:51%;
    }
    #conteneur4{
        height:auto;
        display:flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content:space-evenly;
        align-items:center;
        align-content:space-evenly;
        width:auto;
    }
    .vieuxport{
        background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-repeat:no-repeat;
        display:flex;
        background-clip:content-box;
        height:250px;
        width:400px;
        margin:5% 0% 5% 0%;
        flex-direction: column;
        border-radius:15px 15px 15px 15px;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .vieuxport h3{
        background-color:white;
        margin-top:50%;
        border-radius: 0px 0px 15px 15px;
        padding:5% 5% 5% 5%;
    }
    .fortpomegues{
        background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-clip:content-box;
        height:200px;
        width:335px;
        display:flex;
        flex-direction: column;
        margin:5% 0% 5% 0%;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .fortpomegues h3{
        background-color:white;
        margin-top:49%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .ilesfrioul{
        background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-clip:content-box;
        display:flex;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
        margin-left:5%;
    }
    .ilesfrioul h3{
        background-color:white;
        margin-top:49%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .parccalanques{
        background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-repeat:no-repeat;
        display:flex;
        background-clip:content-box;
        height:250px;
        width:400px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .parccalanques h3{
        background-color:white;
        margin-top:50%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .notredame{
        background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-clip:content-box;
        display:flex;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .notredame h3{
        background-color:white;
        margin-top:49%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .longchamp{
        background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        background-repeat:no-repeat;
        display:flex;
        background-clip:content-box;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
        margin-left:5%;
    }
    .longchamp h3{
        background-color:white;
        margin-top:49%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .colonne1{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .colonne2{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    #bouton2{     
        background-color:#0065FC;
        border-radius: 0px 15px 15px 0px;
        padding:20px 20px 20px 20px;
    }
    #bouton{
        display:none;
    }
    #footer{
        display:flex;
        flex-direction:row;
        align-items: center;
        align-content: center;
        margin-top:5%;
        background-color:#F2F2F2;
    }
    .footer{
        display:flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        align-items:baseline;
        justify-content: space-evenly;
    }
    ul{
        list-style-type:none;
    }
    .apropos{
        display:flex;
        align-content:center;
    }





