@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Medium.ttf") format("truetype");
}

 body{
        font-family: "Raleway";
    }
#bloc_page{
    min-width:320px;
    max-width:767px;
    width:auto;
    margin:auto;
    overflow-x:hidden;
}
h1{
        font-size: 20px;
        font-weight:bold;
    }
h2{
        font-size:22px;
        font-weight:bold;
    }
.bouton:hover{
       background-color: #0065FC;
    }
a{
       text-decoration:none;
       color:black;
    }
    #filtres{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        align-content:space-between;
        align-items:stretch;
        font-size:13px;
        margin: 5% 5% 5% 5%;
    }
    #filtres:last-child{
        margin-top:5%;
    }
    .column{
        margin-bottom:5%;
    }
    .desk{
        display:none;
    }
    h4.mobile{
        font-size:14px;
        font-weight:bold;
    }
    #filtres i{
        color:#0065FC;
        border-radius: 50px;
        background-color: #DEEBFF;
        height:50px;
        width:50px;
        display:flex;
        flex-direction:row;
        align-content:space-between;
        justify-content:space-around;
        align-items:center;
        position:absolute;
        object-fit:cover;
    }
    #menu a:hover{
       border-top:2px solid #0065FC;
       color:#0065FC;
    }
    .element0:nth-child(1){
        justify-self:flex-start;
        align-self:stretch;
        margin-top: 5%;
    }
    .element0:nth-child(2){
        color: #0065FC;
        width:100%;
        display:flex;
        flex-direction: row;
        margin-top:-15%;
        justify-content:center;
        align-items: center;
        align-content: stretch;
        font-size: 14px;
    }
    .inscription{
        color:#0065FC;
        font-weight:bolder;
        position:absolute;
        margin-top:-3%;
        margin-left:80%;
    }
    .info i{
        color:#0065FC;
        border:1px solid #F2F2F2;
        border-radius:50px 50px 50px 50px;
        padding:8px 12px 8px 12px;
    }
    p.info{
        display:flex;
        margin-right:5%;
        font-size:14px;
    }
    .bouton{
        background-color: white;
        border:2px solid #F2F2F2;
        border-radius: 50px;
        font-size:16px;
        font-weight:bold;
        padding-left:60px;
        width:100%;
        height:50px;
    }
    .formulaire{
        display:flex;
        max-height:50px;
    }
    #pc{
        display:none;
    }
    .localisation{
        display:flex;
    }
    .logoloc{
        border-radius:15px 0px 0px 15px;
        max-width:20px;
        background-color:#F2F2F2;
        padding:4% 4% 4% 5%;
        border-radius:15px 0px 0px 15px;
    }
    #Recherche{
        font-size: 14px;
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        max-width:90%;
        margin: 5% 5% 5% 5%;
    }
    .recherche{
        border:2px solid #F2F2F2;
        font-size: 13px;
        font-weight:bold;
        width:150%;
        padding-left:2%;
    }
    ::placeholder{
        color:black;
    }
    #bouton2{
        background-color: #0065FC;
        border-radius:0px 15px 15px 0px;
        color:white;
        border:none;
        width:auto;
        font-size: 17px;
    }
    #bouton{
        display:none;
    }
    #loupe{
        margin-top:6%;
        margin-left:-10%;
        color:white;
    }
    #menu a:hover{
        border-top:none;
     }
    .nav{
        display:flex;
        width:120%;
        justify-content: center;
        margin-top:20%;
        font-size:18px;
        padding-bottom:3%;
        border-bottom: 5px solid #F2F2F2;
    }
   
    .nav:hover{
        border-bottom: 5px solid #0065FC;
    }
    .row{
        display:flex;
        margin-bottom:5%;
    }
    .conteneur2{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    .element{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border:5px solid white;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        flex-wrap: nowrap;
        box-sizing:content-box;
        overflow:hidden;
        width:335px;
        height:200px;
        margin-top:5%;
        box-shadow:5px 5px 5px 5px #F2F2F2;
    }
    #conteneur1{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        position:relative;
        width:auto;
    }
    div.heb{
        background-color: white;
        flex-direction: column;
        align-content: flex-end;
        text-align: justify;
        box-sizing:content-box;
        height:80px;
        width:100%;
        border-radius: 0px 0px 15px 15px;
        margin-top:32%;
        padding-bottom:5%;
    }
    .stars{
        display:flex;
        flex-direction: row;
        color:#0065FC;
        font-size:12px;
    }
    .pluspc{
        white-space: nowrap;
    }
    .pluspc h4{
        font-size:17px;
        font-weight:bold;

    }
    article#conteneur3{
        display:flex;
        min-width:100%;
        padding-bottom:50px;;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:#F2F2F2;
        margin-top:0%;
    }
    #conteneur3 h2{
        margin-right:50px;
        margin-left:0%;
    }
    article#conteneur2{
        border:2px solid white;
        width:auto;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        border:2px solid white;
        justify-content:space-evenly;
        background-color: #F2F2F2;
        border-radius: 15px 15px 15px 15px;
    }
    div#line1{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content:center;
    }
    div#line2{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content:center;
    }
    figure.element{
        border-radius:15px 15px 15px 15px;
        min-width:150px;
        box-shadow:15px 15px 15px 15px #F2F2F2;
        width:max-content;
        border:5px solid white;
        flex:auto;
    }
    figcaption{
        max-height:50%;
        background-color:white;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        align-content:space-around;
    }
    figcaption.s2{
        width:max-content;
    }
    .back{
        width:335px;
        height:200px;
        object-fit:cover;
        border-radius:15px 15px 0px 0px;
    }
    .back2{
        width:130px;
        height:150px;
        border-left:5px solid white;
        border-radius:15px 0px 0px 15px;
        object-fit:cover;
    }
    .back3{
        min-width:335px;
        flex:auto;
        height:150px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back4{
        min-width:335px;
        flex:auto;
        height:150px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back5{
        width:335px;
        height:150px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    .back6{
        min-width:335px;
        flex:auto;
        height:150px;
        border-radius:15px 15px 0px 0px;
        object-fit:cover;
    }
    #pop1 ul{
        padding-right:20px;
    }
    #conteneur4 figcaption{
        width:300px;
        height:100%;
        border-radius:0px 0px 15px 15px;
    }
    #conteneur4 figure{
        overflow:hidden;
        border-radius:15px 15px 15px 15px;
    }
    .logochart1{
        display:none;
    }
    .logochart{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
        align-content:space-between;
        height:25px;
        flex-wrap: nowrap;
        margin-bottom:5%;
        margin-top:5%;
        white-space:nowrap;
    }
    .logochart img{
        max-height:25px;
    }
    figure.element1{
         width:max-content;
         min-width:300px;
         display:flex;
         align-items:flex-start;
         background-color:white;
         flex:auto;
         box-shadow:15px 15px 15px 15px #F2F2F2;
         border-radius:15px 15px 15px 15px;
         border:5px solid white;
    }
    .element1:nth-child(1){
        display:flex;
        align-items: flex-start;
        width:320px;
    }
    li.nom{
        font-weight:bold;
        font-size:14px;
    }
    .titresection{
        display:none;
    }
    .titresection1{
     position:relative;
     display:flex;
     align-items: center;
     margin-left:5%;
    }
    article#conteneur3{
        display:flex;
        margin-top:0%;
        flex-direction:column;
        border-radius:15px 15px 15px 15px;
        align-items:center;
    }
    h2#Activites{
        visibility:hidden;
    }
    figcaption.fig3{
            width:200px;
            background-color:white;
            font-weight:bold;
            font-size:16px;
            padding:5%;
    }
    figure.vieuxport{
        flex:auto;
        width:fit-content;
        object-fit:cover;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    figure.fortpomegues{
        flex:auto;
        object-fit:cover;
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    figure.ilesfrioul{
        flex:auto;
        object-fit:cover;
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    figure.parccalanques{
        flex:auto;
        object-fit:cover;
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    figure.notredame{
        flex:auto;
        object-fit:cover;
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    figure.longchamp{
        flex:auto;
        object-fit:cover;
        width:fit-content;
        box-shadow:15px 15px 15px 15px #F2F2F2;
    }
    article#conteneur4{
        display:contents;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        align-content:center;
        width:auto;
    }
    section#conteneur33{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #bouton2{     
        background-color:#0065FC;
        border-radius: 0px 15px 15px 0px;
        padding:20px 20px 20px 30px;
        background-color: #0065FC;
        background-repeat:no-repeat;
        border:none;
        width:auto;
        font-size: 0px;
    }
    #bouton{
        display:none;
    }
    #footer{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        align-content: flex-start;
        background-color:#F2F2F2;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        align-items:flex-start;
    }
    ul{
        list-style-type:none;
        padding-left:5%;
        white-space: nowrap;
    }
    .heb1 li{
        display:flex;
        margin-top:8%;
    }
    li{
        font-size:14px;
    }
    li.stars1{
        margin-top:20%;
        color:#0065FC;
    }
    .apropos{
        display:flex;
        align-content:center;
    }
    .cliquable{
        width:max-content;
        height:100%;
    }
    .none{
        display:none;
    }
    .grey{
        color:#F2F2F2;
    }



