@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Medium.ttf") format("truetype");
}
 body{
        font-family: "Raleway";
        min-width:320px;
        margin:auto;
    }
h1{
        font-size: 1.5em;
        font-weight:bold;
    }
h2{
        font-size:2em;
        font-weight:bold;
        margin-left:-10%;
    }
    .bouton:hover{
       background-color: #0065FC;
    }
a{
       text-decoration:none;
       color:black;
    }
    #filtres{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        align-content:space-between;
        align-items:stretch;
        font-size:1em;
        margin: 5% 5% 5% 5%;
    }
    #filtres:last-child{
        margin-top:5%;
    }
    .column{
        margin-bottom:5%;
    }
    .desk{
        display:none;
    }
    h4.mobile{
        margin-left:5%;
        font-size:1.2em;
        font-weight:bold;
    }
    #filtres i{
        height:20px;
        border:2px solid #F2F2F2;
        border-radius: 40px 40px 40px 40px;
        background-color: #DEEBFF;
        padding:20px 20px 20px 20px;
        display:flex;
        position:absolute;
        height:20px;
        color:#0065FC;
    }
    #menu a:hover{
       border-top:2px solid #0065FC;
       color:#0065FC;
    }
    .element0:nth-child(1){
        justify-self:flex-start;
        align-self:stretch;
        margin-top: 5%;
    }
    .element0:nth-child(2){
        color: #0065FC;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content:stretch;
        align-items: stretch;
        align-content: stretch;
        font-size: 1.2em;
    }
    .inscription{
        color:#0065FC;
        font-weight:bolder;
        position:absolute;
        width:100%;
        margin-left:70%;
        margin-top:-5%;
    }
    .info i{
        color:#0065FC;
        border:1px solid #F2F2F2;
        border-radius:50px 50px 50px 50px;
        padding:8px 12px 8px 12px;
    }
    p.info{
        display:flex;
        margin-left:5%;
        margin-right:5%;
        font-size:1.2em;
    }
    .bouton{
        background-color: white;
        border:2px solid #F2F2F2;
        border-radius: 40px 40px 40px 40px;
        font-size:1.2em;
        font-weight:600;
        padding: 20px 20px 20px 20px;
        padding-left:60px;
        width:100%;
    }
    .formulaire{
        display:flex;
        max-height:50px;
    }
    #pc{
        display:none;
    }
    .localisation{
        display:flex;
    }
    .logoloc{
        border-radius:15px 0px 0px 15px;
        max-width:20px;
        background-color:#F2F2F2;
        padding:4% 4% 4% 5%;
        border-radius:15px 0px 0px 15px;
    }
    #Recherche{
        font-size: 1.2em;
        display:flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        max-width:90%;
        margin: 5% 5% 5% 5%;
    }
    .recherche{
        border:2px solid #F2F2F2;
        font-size: 1.2em;
        width:100%;
    }
    ::placeholder{
        color:black;
    }
    #bouton2{
        background-color: #0065FC;
        border-radius:0px 15px 15px 0px;
        color:white;
        border:none;
        width:auto;
        font-size: 1.5em;
    }
    #bouton{
        display:none;
    }
    #loupe{
        margin-left:-10%;
        margin-top:5%;
    }
    #menu a:hover{
        border-top:none;
     }
    .nav{
        display:flex;
        width:120%;
        justify-content: center;
        margin-top:20%;
        padding-bottom:3%;
        border-bottom: 5px solid #F2F2F2;
    }
   
    .nav:hover{
        border-bottom: 5px solid #0065FC;
    }
    .row{
        display:flex;
        margin-bottom:5%;
    }
    .conteneur2{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    .element{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border:5px solid white;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        flex-wrap: nowrap;
        box-sizing:content-box;
        width:335px;
        height:200px;
        margin-top:5%;
        box-shadow:5px 5px 5px 5px #F2F2F2;
    }
    #conteneur1{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        position:relative;
        width:auto;
    }
    div.heb{
        background-color: white;
        flex-direction: column;
        align-content: flex-end;
        text-align: justify;
        box-sizing:content-box;
        height:80px;
        width:100%;
        border-radius: 0px 0px 15px 15px;
        margin-top:32%;
        padding-bottom:5%;
    }
    .stars{
        display:flex;
        flex-direction: row;
        color:#0065FC;
    }
    .element:nth-child(1){
        background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
        background-size:100%;
        background-position:0% 200%;
        background-repeat: no-repeat;
    }
    .element:nth-child(2){
        background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        background-position:0% 260%;
    }
    .element:nth-child(3){
        background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:0% 260%;
    }
    .element:nth-child(4){
        background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:0% 100%;
        
    }
    .element:nth-child(5){
        background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
        background-size:cover;
        background-position:0% 300%;
        background-repeat: no-repeat;
    }
    .element:nth-child(6){
        background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
        background-size: 100%;
        background-position:0% 70%;
        background-repeat: no-repeat;

    }
    .pluspc{
        white-space: nowrap;
        margin-left:-60%;
    }
    .pluspc h4{
        font-size:1.4em;
        font-weight:bold;

    }
    .conteneur3{
        display:flex;
        width:100%;
        padding-bottom:50px;;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:#F2F2F2;
        margin-top:15%;
    }
    .logochart1{
        display:none;
    }
    .logochart{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items:center;
        align-content:space-between;
        height:25px;
        flex-wrap: nowrap;
        margin-bottom:5%;
        margin-top:5%;
        white-space:nowrap;
        margin-left:-15%;
    }
    .logochart img{
        max-height:25px;
        margin-left:20%;
    }
    .element1{
        width:335px;
        height:145px;
        border:5px solid white;
        border-radius:15px 15px 15px 15px;
        background-color: white;
        overflow: hidden;
        margin-top:5%;
    }
    .element1:nth-child(1){
        display:flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .element1:nth-child(2){
        background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
        background-repeat: no-repeat;
        display:flex;
        background-size:100%;
        background-position:220% 60%;
        background-clip:content-box;
        flex-direction: column;
        align-items: flex-end;
    }
    .element1:nth-child(3){
        background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
        background-repeat:no-repeat;
        background-position:0% 50%;
        background-size:80%;
        display:flex;
        flex-direction: column;
        background-clip:content-box;
        justify-content: flex-end;
    }
    .element1:nth-child(4){
        background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:100%;
        background-position:20% 55%;
        display:flex;
        flex-direction: column;
        background-clip:content-box;
        justify-content: flex-end;
    }
    .nom{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        height:145px;;
        justify-content:flex-start;
        align-content:flex-start;
        margin-left:45%;
        background-color: white;
        padding-left:5%;
        padding-bottom:15%;
    }
    .titresection{
        display:none;
    }
    .titresection1{
     position:relative;
     display:flex;
     align-items: center;
     margin-left:5%;
    }
    #conteneur3{
        margin-top:60px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    #Activites{
        margin-left:-25%;
    }
    #conteneur4{
        display:contents;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        align-content:center;
        width:auto;
    }
    .vieuxport{
        background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        display:flex;
        background-clip:content-box;
        height:200px;
        width:335px;
        margin:5% 0% 5% 0%;
        flex-direction: column;
        border-radius:15px 15px 15px 15px;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .vieuxport h3{
        background-color:white;
        margin-top:45%;
        border-radius: 0px 0px 15px 15px;
        padding:5% 5% 5% 5%;
    }
    .fortpomegues{
        background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;
        background-clip:content-box;
        height:200px;
        width:335px;
        display:flex;
        flex-direction: column;
        margin:5% 0% 5% 0%;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .fortpomegues h3{
        background-color:white;
        margin-top:45%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .ilesfrioul{
        background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-clip:content-box;
        display:flex;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .ilesfrioul h3{
        background-color:white;
        margin-top:45%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .parccalanques{
        background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-repeat:no-repeat;
        display:flex;
        background-position: center;
        background-size: cover;
        background-clip:content-box;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .parccalanques h3{
        background-color:white;
        margin-top:45%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .notredame{
        background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-clip:content-box;
        display:flex;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .notredame h3{
        background-color:white;
        margin-top:45%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    .longchamp{
        background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        background-repeat:no-repeat;
        background-position: center;
        background-size:cover;
        display:flex;
        background-clip:content-box;
        height:200px;
        width:335px;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:15px 15px 15px 15px;
        margin:5% 0% 5% 0%;
        box-shadow: 0px 15px 15px 0 #F2F2F2;
        overflow:hidden;
    }
    .longchamp h3{
        background-color:white;
        margin-top:45%;
        padding:5% 5% 5% 5%;
        border-radius: 0px 0px 15px 15px;
    }
    #bouton2{     
        background-color:#0065FC;
        border-radius: 0px 15px 15px 0px;
        padding:20px 20px 20px 20px;
        background-color: #0065FC;
        background-repeat:no-repeat;
        border-radius:0px 15px 15px 0px;
        border:none;
        width:auto;
        font-size: 0em;
    }
    #bouton{
        display:none;
    }
    #footer{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        align-content: flex-start;
        background-color:#F2F2F2;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        align-items:flex-start;
    }
    ul{
        list-style-type:none;
    }
    .apropos{
        display:flex;
        align-content:center;
    }





