@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}
body{
    width:1024px;
    font-family: "Raleway";
    margin:auto;
}
h1{
    font-weight: 900px;;
    font-size: 2.2em;
}
.bouton:hover{
   background-color: #0065FC;
}
a{
   text-decoration:none;
   color:black;
}
#menu a:hover{
   text-decoration-line: overline;
   color:#0065FC;
}
#menu{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    font-size:1.2em;
    font-weight:bold;
}
.element0:nth-child(1){
    justify-self:flex-start;
    align-self:stretch;
}
.element0:nth-child(2){
    justify-self: flex-end;
    color: #0065FC;
    font-size: bold;
    display:flex;
    justify-content:space-around;
    width:30%;
    max-width:50%;
    font-size: 1.2em;
}
.inscription{
    color:#0065FC;
    font-weight:600;
}
#filtres{
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-content: center;
    max-width:60%;
    font-size:1.2em;
}
#filtres i{
    max-height:20px;
    border:2px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
    background-color: #DEEBFF;
    padding:20px 20px 20px 20px;
    margin-right:-20px;
}
.bouton{
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    font-size:1.2em;
    font-weight:600;
    padding: 20px 20px 20px 20px;
    margin-bottom: 25px;
    padding-left:60px;
}
.formulaire{
    display:flex;
    justify-content: flex-start;
    max-width: 45%;
    max-height:50px;
}
.localisation{
    display:flex;
}
.logoloc{
    max-height:25px;
    background-color:#F2F2F2;
    padding:2% 2% 1.5% 3%;
    border-radius:15px 0px 0px 15px;
}
#recherche{
    border:2px solid #F2F2F2;
    font-size: 2em;
    font-weight: medium;
}
#bouton{
    background-color: #0065FC;
    border-radius:0px 15px 15px 0px;
    color:white;
    border:none;
    max-width:20%;
    font-size: 1.5em;
}
#conteneur1{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    border:2px solid white;
    text-align: end;
}
.conteneur2{
    border:2px solid white;
    display:flex;
    flex-direction: row;
    border:2px solid white;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    padding-top:6%;
}
.element{
    display:flex;
    border:5px solid white;
    min-width:25%;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    align-content:flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.heb{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    background-color: white;
    max-height:100%;
    min-height:20%;
    max-width:100%;
    min-width: 100%;
    flex-wrap:nowrap;
    margin-top:28%;
    border-radius: 0px 0px 15px 15px;
    overflow:hidden;
}
.titresection{
    position:relative;
    margin-left:3%;
    margin-top: 2%;
}
.stars{
    display:flex;
    flex-direction: row;
    color:#0065FC;
}
.element:nth-child(1){
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    max-height:30%;
}
.element:nth-child(2){
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    max-height:30%;
}
.element:nth-child(3){
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    max-height:30%;
}
.element:nth-child(4){
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    max-height:30%;
}
.element:nth-child(5){
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    max-height:30%;
}
.element:nth-child(6){
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    max-height:30%;
}

.conteneur3{
    flex-direction: column;
    display:flex;
    justify-content:center;
    border:2px solid white;
    align-items:flex-start;
    height:628px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.element1{
    min-width: 70%;
    min-height:145px;
    text-align:end;
    border:5px solid white;
    border-radius:15px 15px 15px 15px;
    background-color: white;
    overflow: hidden;
}
.element1:nth-child(1){
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}
.element1:nth-child(2){
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}
.element1:nth-child(3){
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    background-clip:content-box;
    text-align:justify;
    align-items: flex-end;
    justify-content: flex-end;
}
.element1:nth-child(4){
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:end;
    align-items: flex-end;
    background-clip:text;
    background-position: relative;
    justify-content: flex-end;
    overflow:hidden;
}
.nom{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left:35%;
    background-color: white;
    padding-left:5%;
    padding-bottom:10%;
}
#Activites{
    margin-top: 5%;
}
#conteneur4{  
    display:flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    text-align: bottom;
    height: 445px;
}
.vieuxport{
    background-image: url("images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius:15px 15px 15px 15px;
    height:445px;
    width:80%;
    margin:15px 15px 15px 0px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    max-width: 100%;
    overflow:hidden;
}
.fortpomegues{
    background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius:15px 15px 15px 15px;
    height:200px;
    margin:15px 15px 15px 15px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    background-position:50%;
    overflow:hidden;
}
.ilesfrioul{
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius:15px 15px 15px 15px;
    height: 200px;
    margin-top: 5%;
    margin:15px 15px 15px 15px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    overflow:hidden;
}
.parccalanques{
    background-image: url("images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius:15px 15px 15px 15px;
    height: 445px;
    width: 100%;
    margin:15px 15px 15px 15px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    overflow:hidden;
}
.notredame{
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-repeat:no-repeat;
    background-position: relative;
    background-size:cover;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius:15px 15px 15px 15px;
    height: 200px;
    margin:15px 0px 15px 15px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    overflow:hidden;
}
.longchamp{
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    background-size:cover;
    justify-content: flex-end;
    flex-direction: column;
    border-radius:15px 15px 15px 15px;
    height: 200px;
    margin:15px 0px 15px 15px;
    box-shadow: 0px 15px 15px 0 #F2F2F2;
    overflow:hidden;
}
.colonne1{
    display:flex;
    flex-direction: column;
    align-content:flex-start;
    justify-content:flex-start;
}
.colonne2{
    display:flex;
    width:100%;
    flex-direction: column;
}
h2{
    position:relative;
    vertical-align:baseline;
    padding-bottom: 10%;
    margin-bottom:0%;
}
.prix{
    margin-top: 0%;
    font-size:1em;
}
#filtres i{
    color:#0065FC;
    border:15px 15px 15px 15px solid #F2F2F2;

}
ul{
    list-style-type:none;
}
#footer{
    max-width:100%;
    height:200px;
    margin-top:10%;
    font-size: 1.2em;
    margin-left:0px;
    background-color:#F2F2F2;
}
h4{
    font-weight: bold;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: flex-end;
    align-items: flex-end;
    margin-right:20%;
}
.footer a:hover{
    text-decoration: none;
}
#conteneur4 h2{
    background-color: white;
    display:flex;
}
@media screen and (max-width: 768px)
{
    body{
        width: auto;
        margin: auto;
        position:relative;
    }
    .element0:nth-child(2){
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:auto;
    }
    #filtres{
        width:auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position:relative;
    }
    .conteneur2{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: auto;
        position:relative;
    }
    #conteneur1{
        flex-direction: column;
        justify-content: space-between;
        position:relative;
        width:auto;
    }
}




