@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}
body{
    font-family: "Raleway";
    margin:5% 5% 5% 5%;
}
.bouton:hover{
background-color: #0065FC;
}
a{
    text-decoration:none;
}
a:hover{
   text-decoration: overline;
   color:#0065FC 
}
#menu{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.element0:nth-child(1){
    justify-self:flex-start;
    align-self:stretch;
}
.element0:nth-child(2){
    justify-self: flex-end;
}
#filtres{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    width:50%;
}
.bouton{
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
#conteneur1{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    border:2px solid white;
    height: 628px;
    text-align: end;
}
.conteneur2{
    width:65%;
    height:630px;
    border:2px solid white;
    display:flex;
    flex-direction: row;
    border:2px solid white;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.element{
    width:25%;
    border:2px solid white;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align:initial;
    height:200px;
    border-radius: 15px 15px 15px 15px;
    align-items:baseline;
}
.element:nth-child(1){
    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-clip:text;
    text-align:start;
    display:flex;
    flex-direction: column;
    text-align:end;
}
.element:nth-child(2){
    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
}
.element:nth-child(3){
    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
}
.element:nth-child(4){
    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
}
.element:nth-child(5){
    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
}
.element:nth-child(6){
    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
}

.conteneur3{
    flex-direction: column;
    width:30%;
    display:flex;
    justify-content: space-around;
    border:2px solid white;
    align-items: center;
    height:628px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.element1{
    border:2px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
    width:70%;
    height:25%;
    text-align: bottom;
}
.element1:nth-child(1){
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display:flex;
    flex-direction: column;
    text-align:end;
    text-align:start;
    background-clip:text;
    justify-content: flex-start;
}
.element1:nth-child(2){
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
}
.element1:nth-child(3){
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    text-align:end;
    background-clip:text;
}
#conteneur4{  
    display:flex;
    border:2px solid purple;
    justify-content: center;
    margin-top:5%;
    text-align: bottom;
    height: 550px;
}
.vieuxport{
    background-image: url("images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:208px;
    width:100%;
    margin:2px 2px 2px 2px;
}
.fortpomegues{
    background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:100px;
    margin:2px 2px 2px 2px;
}
.ilesfrioul{
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:100px;
    margin-top:2%;
    margin:2px 2px 2px 2px;
}
.parccalanques{
    background-image: url("images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:208px;
    width:100%;
    margin:2px 2px 2px 2px;
}
.notredame{
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:100px;
    margin:2px 2px 2px 2px;
}
.longchamp{
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    background-clip:text;
    text-align:justify
    border:2px solid blue;
    height:100px;
    margin:2px 2px 2px 2px;
}
.colonne1{
    display:flex;
    width:100%;
    flex-direction: column;
    align-content:space-around;
    justify-content:space-around;
}
.colonne2{
    display:flex;
    width:100%;
    flex-direction: column;
}
h2{
    position:relative;
    margin-top: auto;
    background-color: white;
}
.prix{
    background-color: #F2F2F2;
}






