@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Medium.ttf") format("truetype");
}
body{
    width:auto;
    flex: 1 1 auto;
    font-family: "Raleway";
    margin:auto;
    overflow-x:hidden;
}
h1{
    font-size: 2em;
    font-weight:bold;
}
h2{
    font-size:2em;
    font-weight:bold;
}
.bouton:hover{
   background-color: #0065FC;
}
a{
   text-decoration:none;
   color:black;
}
#menu a:hover{
   border-top:2px solid #0065FC;
   color:#0065FC;
}
#menu{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    font-size:1.2em;
    font-weight:bold;
    max-width:100%;
    width:auto;
    height:auto;
}
.nav{
    display:flex;
    padding-top:5%;
}
.element0:nth-child(1){
    justify-self:flex-start;
    align-self:stretch;
    padding-top:2%;
}
.element0:nth-child(2){
    justify-self: flex-end;
    color: #0065FC;
    display:flex;
    justify-content:space-around;
    width:30%;
    max-width:50%;
    font-size: 1.2em;
}
.inscription{
    color:#0065FC;
    font-weight:bolder;
    padding-top:5%;
}

#filtres{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    max-width:60%;
    width:auto;
    font-size:1.2em;
}
#filtres i{
    color:#0065FC;
    height:20px;
    border:2px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
    background-color: #DEEBFF;
    padding:20px 20px 20px 20px;
    display:flex;
    position:absolute;
}
.bouton{
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
    font-size:1.2em;
    font-weight:600;
    padding: 20px 20px 20px 20px;
    padding-left:60px;
    width:100%;
}
.mobile{
    display:none;
}
.formulaire{
    display:flex;
    justify-content: flex-start;
    max-width: 45%;
    width:auto;
    max-height:50px;
}
#smart{
    display:none;
}
::placeholder{
    color:black;
}
.localisation{
    display:flex;
}
.logoloc{
    max-height:25px;
    background-color:#F2F2F2;
    padding:2% 2% 1.5% 3%;
    border-radius:15px 0px 0px 15px;
}
.recherche{
    border:2px solid #F2F2F2;
    font-size: 2em;
}
#bouton{
    background-color: #0065FC;
    border-radius:0px 15px 15px 0px;
    color:white;
    border:none;
    width:auto;
    font-size: 1.5em;
}
#bouton2{
    display:none;
}
.info i{
    color:#0065FC;
    border:1px solid #F2F2F2;
    border-radius:50px 50px 50px 50px;
    padding:8px 12px 8px 12px;
}
#conteneur1{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    align-items: stretch;
    width:auto;
    border:2px solid white;
    text-align: end;
}
article#conteneur2{
    border:2px solid white;
    width:70%;
    max-height:630px;
    display:flex;
    flex:1 1 auto;
    flex-direction:column;
    border:2px solid white;
    justify-content:space-evenly;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
div#line1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}
div#line2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}
figure.element{
    border-radius:15px 15px 15px 15px;
    min-width:150px;
    width:max-content;
    border:5px solid white;
    flex:auto;
}
figcaption{
    max-height:50%;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    align-content:space-around;
}
figcaption.s2{
    display:inline-block;
    vertical-align:top;
    height:100%;
    width:200px;
}
.back{
    max-width:250px;
    min-width:150px;
    height:120px;
    object-fit:cover;
    border-radius:15px 15px 0px 0px;
}
.back2{
    width:120px;
    height:150px;
    object-fit:cover;
}
.back3{
    width:300px;
    height:150px;
    object-fit:cover;
}
.back4{
    width:350px;
    height:400px;
}
.titresection1{
    display:none;
}
.titresection{
    margin-bottom:-3%;
    margin-left:3%;
    position:relative;
    z-index:2;    
}
.stars{
    display:flex;
    flex-direction: row;
    color:#0065FC;
}
.pluspc{
    position:relative;
    margin-top:-4%;
    margin-left:2%;
}
.pluspc h4{
    font-size: 1.2em;
    font-weight: bold;
}
article#conteneur3{
    flex-direction: column;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border:2px solid white;
    height:628px;
    width:30%;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-left:5%;
}
.logochart1{
    display:none;
}
.logochart{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    align-content:space-between;
    height:25px;
    flex-wrap: nowrap;
    margin-bottom:10%;
    margin-top:5%;
    white-space:nowrap;
    margin-left:-30%;
}
.logochart img{
    max-height:25px;
    margin-left:43%;
}
.logochart:nth-child(1){
    flex-wrap: nowrap;
}

figure.element1{
    width:max-content;
    display:flex;
    align-items:flex-start;
    border-radius:15px 15px 15px 15px;
    border:5px solid white;
}

.element1:nth-child(1){
    display:flex;
    justify-content: space-around;
    align-items: baseline;
}
#Activites{
    margin-top: 5%;
    margin-bottom:-3%;
}
#conteneur4{  
    display:contents;
    display:flex;
    width:100%;
    justify-content: space-between;
    align-content:space-between;
    align-items:stretch;
    height: 445px;
    margin-top:5%;
}

.colonne1{
    display:flex;
    flex-direction: column;
    width:300px;
    justify-content:space-between;
}
.colonne2{
    display:flex;
    width:300px;
    flex-direction: column;
    justify-content:space-between;
}
.name{
    display:flex;
    flex-direction: column;
    position:relative;
    vertical-align:baseline;
}
.prix{
    font-size:1em;
}
ul{
    list-style-type:none;
}
#pop{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
ul.heb{
    font-size:1.2em;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:space-evenly;
    align-items:flex-start;
    margin-left:-10%;
}
li.nom{
    font-weight:bold;
}
#footer{
    display:contents;
    max-width:150%;
    margin-top:3%;
    font-size: 1.2em;
    margin-left:0px;
    background-color:#F2F2F2;
}
h4{
    font-weight: bold;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-right:20%;
    padding-bottom:3%;
}
.footer a:hover{
    text-decoration: none;
}
#conteneur4 h2{
    background-color: white;
    display:flex;
}
.cliquable{
    width:100%;
    height:100%;
}
